/* Page Background */
/* .container-fluid {
  background: #0f1117;
} */

/* Header */
.chat-header {
  background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
  padding: 14px 20px;
  border-radius: 14px;
  color: white;
}

.chat-title {
  color: #e5e7eb !important;
  font-weight: 600;
}

.message-container1 {
  border-radius: 18px;
  padding: 15px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.responsive-box {
  border-radius: 16px;
  max-width: 75%;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
/* 
.text-start .responsive-box {
  background: linear-gradient(145deg, #1f2937, #111827);
  color: #e5e7eb;
} */

.text-end .responsive-box {
  /* background: linear-gradient(145deg, #06b6d4, #0891b2); */
  color: white;
}

.responsive-box:hover {
  transform: translateY(-2px);
  transition: 0.25s;
}
/* 
textarea.form-control {
  color: white !important;
} */

textarea::placeholder {
  color: #9ca3af !important;
}

.d-flex.align-items-end {
  background: #1f2937 !important;
  border: 1px solid rgba(255, 255, 255, 0.08) !important;
}

.btn-secondary {
  background: linear-gradient(90deg, #06b6d4, #0891b2);
  border: none;
}

.btn-secondary:hover {
  opacity: 0.9;
}

.btn-outline-secondary {
  border-color: #334155;
  color: #cbd5e1;
}

.btn-outline-secondary:hover {
  background: #334155;
}

.modal-content {
  backdrop-filter: blur(10px);
}

iframe,
img {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}
